<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li class="nav-item">
    <a class="nav-link" href="{% url 'main-page' %}">Main</a>
</li>
{% if not user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Sign-in</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:register' %}">Sign-up</a>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:profile' %}">Profile</a>
    </li>
    {% if user.user_type == "company" %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create-vacancy' %}">Add vacancy</a>
        </li>
    {% else %}
        <li class="nav-item">
            {% if user.resume_set.exists %}
                <a class="nav-link" href="{% url 'edit-resume' user.resume_set.first.pk %}">Add resume</a>
            {% else %}
                <a class="nav-link" href="{% url 'create-resume' %}">Add resume</a>
            {% endif %}
        </li>

    {% endif %}

    <li>
        <form action="{% url 'logout' %}" method="post" class="form-inline">
            {% csrf_token %}
            <button type="submit" class="nav-link btn btn-link"
                    style="display: inline; border: none; background: none; box-shadow: none;">Logout
            </button>
        </form>
    </li>

{% endif %}
</body>
</html>